* {
  font-family: "Calibri Light", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
/*
---------------------------------------------------------------------------
*/
header {
  background-image: url(./img/header22.jpg);
  color: aliceblue;
  border-radius: 5px;
}

#profilPicture {
  border-color: black;
  border-width: 3px;
  border-style: solid;
  border-radius: 1em;
  position: relative;
  left: -2px;
  top: -15px;
}

#personal-infos {
  text-align: center;
}

#formations-section {
  background-color: rgba(2, 17, 17, 0.342);
  margin-top: 3em;
  border-radius: 5px;
}

.section-title {
  font-family: "Arial Narrow", Arial, sans-serif;
}

/** The same list but using à table to get a distanciation*/
#trainings-table {
  border-spacing: 1em 0px;
  margin-left: 0.5em;
}

#trainings-table tr td {
  padding: 0px;
  border-collapse: separate;
}

.formation-actuelle {
  font-weight: bold;
  color: #182929;
}

.study-year {
  font-weight: bold;
  color: rgb(38, 0, 128);
}
/*----------------------------FORMATIONS ACADEMIQUES---------------------------*/
#academic-projects-section {
  /*TODO Transferer la partie en tableau*/
  /*TODO Bien postiionné les différents sections*/
  background-color: rgba(66, 110, 110, 0.418);
  border-radius: 5px;
}

.project-name {
  font-weight: bold;
  color: rgb(38, 0, 128);
}

.project-info {
  color: rgba(38, 0, 128, 0.678);
}

/*-------------------------EXPERIENCES PROFESSIONNELLES------------------*/
#professional-experiences-section {
  background-color: rgba(2, 17, 17, 0.342);
  border-radius: 5px;
}

/*-------------------------COMPETENCES TECHNIQUES------------------------*/

#competences-techniques-section {
  background-color: rgba(66, 110, 110, 0.418);
  border-radius: 5px;
}

#loisirs-section {
  background-color: rgba(2, 17, 17, 0.342);
  border-radius: 5px;
}

/*------------Boutton d'ajout d'un projet-------------*/
a {
  text-decoration: none;
  background-color: rgb(127, 255, 244);
  color: black;
  border-radius: 5px;
  padding: 0.5em;
  position: relative;
  left: 42em;
}

a:hover {
  background-color: #75a7a7;
}

/*------------------------*/

footer {
  background-image: url(./img/header22.jpg);
  height: 12em;
  color: aliceblue;
  border-radius: 5px;
}
footer p {
  position: relative;
  font-style: italic;
  left: 42em;
  top: 100px;
}
