body {
  /*background-image: url(./img/header22.jpg);*/
}
legend {
  background-color: rgb(44, 63, 97);
  color: aliceblue;
  padding: 3px 3px;
  border-radius: 5px;
}
label {
  font-size: large;
}

fieldset {
  background-color: rgba(78, 103, 114, 0.808);
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: #26c4ec;
}

form {
  text-align: center;
}

#btnAjouterProjetForm {
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 20px;
}

#btnAjouterProjetForm:hover {
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #26c4ec;
}

#finiLeLabel {
  margin-left: 80px;
}
